<a href="https://colab.research.google.com/github/Mapuertag/Datascience300/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción**


---
Para manejar un código en Python, vamos a seguir las siguientes recomendaciones:
1. Usar siempre minúsculas
2. Se le puede añadir números
3. Aparecerá error si no estan seguidos de la declaración de la variable con el número asignado: es decir luisa1(correcto) luisa 1 (incorrecto)

En python hay varios tipos de datos compuestos y estan disponibles por defecto en los interpretes:

1.
2.
3.
4.

**Diferencia entre constantes y variables**

**Tipos de conjuntos**: Son una colección de datos sin elementos que repiten

In [ ]:
fru="pera","manzana","naranja"
color= "morado","blanco","azul"
print(fru,color)

('pera', 'manzana', 'naranja') ('morado', 'blanco', 'azul')

**Tipo de listas** 
Las almacenan vectores, siempre empiezan a nombrarse desde el elemento cero(0). Apertir de allí empieza el conteo. Se usan corchetes
Ejemplo de listas de Python:

In [ ]:
ines=["5","uva","lila","perro","celular","micro","botella","tetero","10"]
print(Ines)
fe=ines[5:7]

print(fe)

['5', 'uva', 'lila', 'perro', 'celular', 'micro', 'botella', 'tetero', '10']
['micro', 'botella']

**Tipo Tuplas**
Es una lista que no se puede modificar después de la creación de esta: Tuplas anidadas. Agrupación (Tuplas). Generalmente se usa parentesis

In [ ]:
tupla=23,28,"hello"
print(tupla)
otra=tupla,(1,2,3,4)
print(otra)

(23, 28, 'hello')
((23, 28, 'hello'), (1, 2, 3, 4))

**Tipo Diccionarios**
Define los datos uno a uno entre un campo (ID-Identificador-Clave) y un valor

In [ ]:
datos_b={
"nombres":"Diana"
"apellidos":"Perea"
"cedula":"2160999"
"est_civil":"viuda"
"lugar_nacimiento": "Neiva"
"fecha_nacimiento":"24/12/1980"
}

print("Id del diccionario",datos_b.keys())
print("Id del diccionario",datos_b.value())
print("Id del diccionario",datos_b.items())
print("Id del diccionario",datos_b.datos_())

In [15]:
zapatos_0={}
zapatos_0["talla"]="grande"
zapatos_0["color"]="rojo"
zapatos_0["material"]="cuero"
zapatos_0["tacón"]="alto"
zapatos_0["precio"]=90

zapatos_1={}
zapatos_1["talla"]="medio"
zapatos_1["color"]="negro"
zapatos_1["material"]="sintetico"
zapatos_1["tacón"]="plataforma"
zapatos_1["precio"]=60

zapatos_2={}
zapatos_2["talla"]="pequeño"
zapatos_2["color"]="blanco"
zapatos_2["material"]="tela"
zapatos_2["tacón"]="plano"
zapatos_2["precio"]=30
print(zapatos_0)
print(zapatos_1)
print(zapatos_2)

compra0=zapatos_0["precio"]
compra1=zapatos_1["precio"]
compra2=zapatos_2["precio"]
compratotal=compra0+compra1+compra2

print("la compra total fue de:",compratotal)
print("la compra total fue de:"+" "+str(compratotal))

{'talla': 'grande', 'color': 'rojo', 'material': 'cuero', 'tacón': 'alto', 'precio': 90}
{'talla': 'medio', 'color': 'negro', 'material': 'sintetico', 'tacón': 'plataforma', 'precio': 60}
{'talla': 'pequeño', 'color': 'blanco', 'material': 'tela', 'tacón': 'plano', 'precio': 30}
la compra total fue de: 180
la compra total fue de: 180