<a href="https://colab.research.google.com/github/Mapuertag/Datascience300/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción**


---
Para manejar un código en Python, vamos a seguir las siguientes recomendaciones:
1. Usar siempre minúsculas
2. Se le puede añadir números
3. Aparecerá error si no estan seguidos de la declaración de la variable con el número asignado: es decir luisa1(correcto) luisa 1 (incorrecto)

En python hay varios tipos de datos compuestos y estan disponibles por defecto en los interpretes:

1. Númericos
2. Secuencias
3. Mapeos
4. Conjuntos usados para agrupar otros valores.

**Diferencia entre constantes y variables**: En mátematicas llamamos constante a una magnitud que no cambia con el paso del tiempo. Ejemplo: Contabilidad: Gastos Fijos_ Muebles de oficina Ejemplo 2: 6

Por otro lado, el concepto de variable, como la cantidad que es susceptible a tomar distintos valores númericos. Ejemplo:

In [1]:
x=80
print(x)

80

**Tipos de datos**:

**Enteros**:

Son los números que no tienes decimales Pueden ser positivos y negativos

In [2]:
a=int(3.964)
print(a,type(a))

3 <class 'int'>

El comando int es para hacer alusión a número enteros. A parte el comando float, permite valores con decimales.

In [3]:
b=float(8.23)
print(b,type (b))

8.23 <class 'float'>

**Tipo cadena**:
Las cadenas son texto encerrado entre comillas (Simples o dobles) y se pueden conformar de diferentes caracteres (Númericos, Albéticos, Especiales #$+*%). Tener en cuenta, las cadenas admiten operadores como la suma y la resta. (Variable String)

In [4]:
val2="Hola Mundo"
print(val2)
val1="Luisa"
print(val1)

Hola Mundo
Luisa

In [5]:
n="Aprender"
z="Python"
w="Aprender Python"
nz=n+" "+z
print(w)

q="5"
p="2"
b=int(q)
c=int(p)
print(b-c)

Aprender Python
3

**Tipos Booleanos**: Este tipo de variale solo tendrá un valor de Verdadero o Falso. Nota: Son valores muy usados en condiciones y bucles.

In [6]:
lola=True
print("El valor es verdadero:",lola,", el cual es de tipo", type(lola))

El valor es verdadero: True , el cual es de tipo <class 'bool'>

In [ ]:
Python cuenta con tipos de datos que admiten colecciones:

1. Listas
2. Tuplas
3. Diccionarios

**Tipos de conjuntos**: Son una colección de datos sin elementos que repiten

In [ ]:
fru="pera","manzana","naranja"
color= "morado","blanco","azul"
print(fru,color)

('pera', 'manzana', 'naranja') ('morado', 'blanco', 'azul')

**Tipo de listas** 
Las almacenan vectores, siempre empiezan a nombrarse desde el elemento cero(0). Apertir de allí empieza el conteo. Se usan corchetes
Ejemplo de listas de Python:

In [ ]:
ines=["5","uva","lila","perro","celular","micro","botella","tetero","10"]
print(Ines)
fe=ines[5:7]

print(fe)

['5', 'uva', 'lila', 'perro', 'celular', 'micro', 'botella', 'tetero', '10']
['micro', 'botella']

**Tipo Tuplas**
Es una lista que no se puede modificar después de la creación de esta: Tuplas anidadas. Agrupación (Tuplas). Generalmente se usa parentesis

In [ ]:
tupla=23,28,"hello"
print(tupla)
otra=tupla,(1,2,3,4)
print(otra)

(23, 28, 'hello')
((23, 28, 'hello'), (1, 2, 3, 4))

**Tipo Diccionarios**
Define los datos uno a uno entre un campo (ID-Identificador-Clave) y un valor

In [8]:
datos_b={
    "nombres":"Diana",
    "apellidos":"Perea",
    "cedula":"2345671",
    "est_civil":"Viuda",
    "lugar_nacimiento":"Neiva",
    "fecha_nacimiento":"24/12/1980",
}

print("ID del diccionario", datos_b.keys())
print("ID del diccionario", datos_b.values())
print("ID del diccionario", datos_b.items())
print("Fecha de Nacimiento de Diana:", datos_b['fecha_nacimiento'])

ID del diccionario dict_keys(['nombres', 'apellidos', 'cedula', 'est_civil', 'lugar_nacimiento', 'fecha_nacimiento'])
ID del diccionario dict_values(['Diana', 'Perea', '2345671', 'Viuda', 'Neiva', '24/12/1980'])
ID del diccionario dict_items([('nombres', 'Diana'), ('apellidos', 'Perea'), ('cedula', '2345671'), ('est_civil', 'Viuda'), ('lugar_nacimiento', 'Neiva'), ('fecha_nacimiento', '24/12/1980')])
Fecha de Nacimiento de Diana: 24/12/1980

**Ejemplo práctico**:

In [9]:
zapatos_0={}
zapatos_0["talla"]="grande"
zapatos_0["color"]="rojo"
zapatos_0["material"]="cuero"
zapatos_0["tacón"]="alto"
zapatos_0["precio"]=90

zapatos_1={}
zapatos_1["talla"]="medio"
zapatos_1["color"]="negro"
zapatos_1["material"]="sintetico"
zapatos_1["tacón"]="plataforma"
zapatos_1["precio"]=60

zapatos_2={}
zapatos_2["talla"]="pequeño"
zapatos_2["color"]="blanco"
zapatos_2["material"]="tela"
zapatos_2["tacón"]="plano"
zapatos_2["precio"]=30
print(zapatos_0)
print(zapatos_1)
print(zapatos_2)

compra0=zapatos_0["precio"]
compra1=zapatos_1["precio"]
compra2=zapatos_2["precio"]
compratotal=compra0+compra1+compra2

print("la compra total fue de:",compratotal)
print("la compra total fue de:"+" "+str(compratotal))

{'talla': 'grande', 'color': 'rojo', 'material': 'cuero', 'tacón': 'alto', 'precio': 90}
{'talla': 'medio', 'color': 'negro', 'material': 'sintetico', 'tacón': 'plataforma', 'precio': 60}
{'talla': 'pequeño', 'color': 'blanco', 'material': 'tela', 'tacón': 'plano', 'precio': 30}
la compra total fue de: 180
la compra total fue de: 180