<a href="https://colab.research.google.com/github/Mapuertag/Datascience300/blob/main/Pandas_Puerta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Actividad**

Formato: Entregar un archivo con formato .ipynb Debe tener el nombre “Pandas+Apellido”.

Consigna:

1. Con este archivo, construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos.

2. Separar nombres de apellidos en dos columnas distintas usando la coma como separador.

3. Obtener medidas resumen del conjunto de datos. ¿Cuál es el país que ganó más medallas?

4. Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive
import os
drive.mount('/content/gdrive')
# Establecer ruta de acceso en drive
#import os
#print(os.getcwd())
#os.chdir("/content/gdrive/My Drive")

Mounted at /content/gdrive

In [2]:
%cd "/content/gdrive/MyDrive/UNIVERSIDAD/Practicas"

/content/gdrive/MyDrive/UNIVERSIDAD/Practicas

In [3]:
%%time
df_olim= pd.read_csv('olimpyc.csv',sep=",", encoding = 'latin9')
#df = pd.read_csv('olimpyc_utf8.csv',sep=",")
#df = pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv',sep=",")

CPU times: user 41.4 ms, sys: 9.71 ms, total: 51.1 ms
Wall time: 684 ms

In [4]:
df_olim

           City    Year      Sport  ...        Country Event_gender   Medal
0      Montreal  1976.0   Aquatics  ...   East Germany            W  Silver
1      Montreal  1976.0   Aquatics  ...   Soviet Union            M  Bronze
2      Montreal  1976.0   Aquatics  ...  United States            M    Gold
3      Montreal  1976.0   Aquatics  ...          Italy            M  Silver
4      Montreal  1976.0   Aquatics  ...  United States            W  Bronze
...         ...     ...        ...  ...            ...          ...     ...
15428   Beijing  2008.0  Wrestling  ...         France            M  Bronze
15429   Beijing  2008.0  Wrestling  ...        Georgia            M    Gold
15430   Beijing  2008.0  Wrestling  ...     Azerbaijan            M  Silver
15431   Beijing  2008.0  Wrestling  ...         France            M    Gold
15432   Beijing  2008.0  Wrestling  ...           Cuba            M    Gold

[15433 rows x 11 columns]

In [5]:
df_olim.shape

(15433, 11)

**Solución 1**

Construir un objeto de series de tiempo con el índice igual al año de los juegos olímpicos

In [7]:
df_olim = pd.read_csv('olimpyc.csv',sep=",", encoding = 'latin9',index_col=1)
df_olim

            City      Sport  ... Event_gender   Medal
Year                         ...
1976.0  Montreal   Aquatics  ...            W  Silver
1976.0  Montreal   Aquatics  ...            M  Bronze
1976.0  Montreal   Aquatics  ...            M    Gold
1976.0  Montreal   Aquatics  ...            M  Silver
1976.0  Montreal   Aquatics  ...            W  Bronze
...          ...        ...  ...          ...     ...
2008.0   Beijing  Wrestling  ...            M  Bronze
2008.0   Beijing  Wrestling  ...            M    Gold
2008.0   Beijing  Wrestling  ...            M  Silver
2008.0   Beijing  Wrestling  ...            M    Gold
2008.0   Beijing  Wrestling  ...            M    Gold

[15433 rows x 10 columns]

**Solución 2**

Separar nombres de apellidos en dos columnas distintas usando la coma como separador.

In [ ]:
split_Athlete= df_olim["Athlete"].str.split(",",n=1,expand=True)
split_Athlete.rename(columns={0:"Apellidos",1:"Nombres"})

       Apellidos          Nombres
0         KÖHLER          Christa
1       KOSENKOV        Aleksandr
2          BOGGS    Philip George
3       CAGNOTTO   Giorgio Franco
4         WILSON   Deborah Keplar
...          ...              ...
15428     GUENOT       Christophe
15429  KVIRKELIA         Manuchar
15430    RAHIMOV          Vitaliy
15431     GUENOT           Steeve
15432      LOPEZ           Mijain

[15433 rows x 2 columns]

**Solución 3**

Obtener medidas resumen del conjunto de datos. ¿Cuál es el país que ganó más medallas?

In [ ]:
df_olim[["Country"]].describe() #leer comentario en siguiente casilla.

              Country
count           15316
unique            127
top     United States
freq             1992

**Estados unidos es el país con más medallas, no sé si aplique esta función, porque sé que es para columnas númericas, sin embargo me dio ese resultado y quedé inquieta. Me puede retroalimentar por el Discord por favor**

**Solución 4**

Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

In [ ]:
a=df_olim[["Gender","Year","Medal"]]
a=a[a["Gender"]=="Men"]
a

      Gender    Year   Medal
1        Men  1976.0  Bronze
2        Men  1976.0    Gold
3        Men  1976.0  Silver
5        Men  1976.0  Silver
8        Men  1976.0    Gold
...      ...     ...     ...
15428    Men  2008.0  Bronze
15429    Men  2008.0    Gold
15430    Men  2008.0  Silver
15431    Men  2008.0    Gold
15432    Men  2008.0    Gold

[9388 rows x 3 columns]

In [ ]:
a.shape #Total de Medallas obtenidas por hombres

(9388, 3)